@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.bg-primary{
  background: #e4d1d3;
}
.bg-secondary{
  background: #1687a7;
}
.bg-tertiary{
 background: #014955;
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4;
}
.mobile-nav li{
  @apply w-full h-full text-center border-b-2;
}
.project-desc{
  @apply absolute top-0 left-0 bottom-0 right-0 bg-secondary opacity-0 duration-500 hover:opacity-100;
}

.btn{
  @apply bg-primary text-secondary  px-5 py-2 rounded border-white hover:border-2;
}

html{
  scroll-behavior: smooth;
}

.btn-up{
  @apply fixed right-[40px] bottom-[40px] px-4 py-4 bg-tertiary rounded-[300px];
}